// :root{
//     --background-color: #fff;
//     --background-light: #fff;
//     --shadow-color:rgba(0,0,0,2);
//     --primary-color: #00C2D1;
//     --text-color: #0A0A0A;
//     --text-light:#575757;
//     --font-size:16px;
//     --animation-speed:1;
// }

// // *{
// //     margin: 0;
// //     padding: 0;
// //     box-sizing: border-box;
// // }

// body{
//     font-size: var(--font-size);
//     font-family: 'Roboto', sans-serif;
// }
// a{
//     text-decoration: none;
// }

// .navbar{
//     height: 55px;
//     box-shadow: 0 3px 6px var(--shadow-color);
//     background-color: var(--background-color);
//     color: var(--text-color);
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     .logo{
//         font-size: 1.2em;
//         font-weight: bolder;
//         color: var(--primary-color);

//     }
//     .nav-links{
//         a{
//             margin-left: 1em;
//             color: var(--text-light);
//             letter-spacing: 2px;
//             text-transform: uppercase;
//             position: relative;
//             &::before{
//                 content: '';
//                 display: inline-block;
//                 width: 100%;
//                 height: 4px;
//                 background-color: var(--primary-color);
//                 position: absolute;
//                 bottom: -10px;
//                 left: 0;
//                 transform: scaleX(0);
//             }
//             &:hover{
//                 &::before{
//                     transform: scaleX(1);
//                     transition: transform calc(var(--animation-speed) * 0.2s);
//                 }
//             }
//             &.active{
//                 color: var(--primary-color);
//                 font-weight: bolder;
//             }
//         }
//     }
// }

// .container{
//     padding-inline: 15vw;
// }