/* .App{
  min-width: 100vh;
  background-image: linear-gradient(to right, #96C5F7 0%, #F2F4FF 100%);
} */
/* .search-form{
  min-width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: #93ACB5;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */